button { /*Makes buttons spaced out nicely */
    margin-top: 10px;
    width: 100%;
}

main {
    display: table; /* Set display to table so heights match to each column */
}

.headerText {
    padding: 20px;
}

.addHeight {
    display: table-cell; /* Set table to tables display to gte heights to match */
    margin: 5px;
    padding-bottom: 10px;
}

.borderBottom { /* Adds a bottom border */
    border-bottom: 2px solid black;
    margin-top: 20px;
}

.addSpacing {
    margin-top: 10px;
}

.cardBackground{
    background-color: rgb(184, 183, 182);
}